<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/homepage2.css">
    
</head>

<body>
    <!DOCTYPE html>
<html lang="en">
<head>
  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="image">
            <img src="image/logo.png" alt="" width="70px" height="50px">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="skor">Skor</a>
            </li>
          </ul>
          <span class="navbar-text">
              <a href="biodata">
                <button type="button" class="btn btn-light">SIGN UP</button>
              </a>
              <a href="login">
            <button type="button" class="btn btn-warning">LOGIN</button>
            </a>
          </span>
        </div>
      </nav>
    <h1>Log In</h1>

      <div class="container mt-3 d-flex justify-content-center">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <form action="/login" method="POST">
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-3">Email</label>
                  <div class="col-sm-8">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
            </div>
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-8">
                      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                     <button type="submit">login</button>
              </form> 
        </div>
      </div>
    </head>
  </body>
</html>