h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #cf963a;
}

.navbar {
  display: none;
}

body {
  background-color: #ffeca1;
}

.container {
  width: 1500px;
  height: 450px;
  margin: auto;
  position: relative;
}

.area-player {
  width: 560px;
  height: 450px;
  margin: 5px auto;
  background-color: #cf963a;
  position: relative;
  border-radius: 40px 40px 40px 40px;
}

.info {
  width: 250px;
  height: 40px;
  border: 5px solid salmon;
  position: absolute;
  left: 450px;
  top: 40%;
  margin-top: 45px;
  background-color: #ffeca1;
  border-radius: 700px;
  text-align: center;
  line-height: 45px;
  color: #cf963a;
  font-size: 26px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.paper,
.rock,
.scissor {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 30%;
}

.paper {
  margin-right: 30px;
}

.scissor {
  margin-left: 30px;
}

ul {
  padding-top: 60px;
  padding-left: 60px;
}

#comp {
  color: rgb(219, 179, 0);
}

.text {
  width: 500px;
  height: 50px;
  border: 5px solid salmon;
  position: absolute;
  left: 320px;
  top: 65%;
  margin-top: 20px;
  background-color: #ffeca1;
  border-radius: 30px;
  text-align: center;
  line-height: 5px;
  color: #cf963a;
  font-size: 16px;
  padding-top: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.back {
  position: absolute;
  margin-top: -70px;
  left: 520px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 10px;
    margin-left: -18px;
  }
  .area-player {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .text {
    left: 358px;
  }
  .info {
    margin-top: 10px;
    left: 90px;
  }
  .paper {
    margin-left: -17px;
  }
  .paper,
  .rock,
  .scissor {
    width: 90px;
    height: 90px;
  }
  .text {
    width: 380px;
    margin-left: -335px;
  }
  .back {
    left: 160px;
  }
}
